#!/bin/bash

picom --config /home/saii/.config/picom/conf &
dunst &
sxhkd &
unclutter --timeout 3 &
numlockx on
redshift -l 17.4097:78.3738 &

# custom scripts
set_wallpaper.sh  # wallpaper
dbus_script.sh    # store dbus env variable
